<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>109308252538-7ha0gp9d58tg6dd9fhparkofp1if13ub.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.109308252538-7ha0gp9d58tg6dd9fhparkofp1if13ub</string>
	<key>API_KEY</key>
	<string>AIzaSyB9RrZKis2aLz33DPB2-Hdtv05fsVFAGto</string>
	<key>GCM_SENDER_ID</key>
	<string>109308252538</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dmss.MyPlace</string>
	<key>PROJECT_ID</key>
	<string>myplace-8e564</string>
	<key>STORAGE_BUCKET</key>
	<string>myplace-8e564.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:109308252538:ios:168d34e50381df23ee46c3</string>
	<key>DATABASE_URL</key>
	<string>https://myplace-8e564.firebaseio.com</string>
</dict>
</plist>
